.css-xrt2rx-MuiTypography-root-MuiDialogTitle-root{
    	font-size: 2rem;
}

.MuiDialogTitle-root+.css-ypiqx9-MuiDialogContent-root input{
    font-size: 1.4rem;
}

.product-image {
    width: 47%;
    display: block;
}
