.user {
    background-color: #aaa;
    text-decoration: none;
}

.user img {
    width: 3rem;
}

.link.link2 {
    padding: auto;
    
}

.link.link2 a:hover {
    padding:1.5rem 0;
    border: none;
    border-bottom: .2rem solid var(--black-color);
}

@media screen and (max-width: 1350px) {
    .links2 {
        display: none;
    }
}

@media screen and (max-width: 455px) {
    .user, .call-us {
        font-size: 1.2rem !important;
        padding: .5rem 1rem !important;
    }
}
