.drop-down-item a {
	padding: 1rem 2rem;
	border-bottom: 1px solid var(--gray2-color);
	text-align: right;
}

@media (max-width: 395px) {
	.dropdown-ul {
		right: 50%;
		transform: translateX(50%);
	}
}
